@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: white;
    --primary-text-color: black;
    --links-icon-color: rgb(148, 148, 148);
    --github-hover-color: black;
}

.dark-mode {
    --bg-color: rgb(18, 18, 18);
    --primary-text-color: white;
    --github-hover-color: white;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

body #toggle-theme {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--primary-text-color);
    user-select: none;
}

body #toggle-theme:hover,
header .avatar:hover,
header .links a:hover {
    transform: scale(1.1);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .avatar {
    width: 5.8rem;
    height: auto;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    object-fit: cover;
}

header h1 {
    color: var(--primary-text-color);
    margin-top: 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

header p {
    margin-top: 0.5rem;
    color: var(--primary-text-color);
    font-weight: 500;
    letter-spacing: 0.9px;
}

header .links {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

header .links a {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--links-icon-color);
}

header .links .ri-github-line:hover {
    color: var(--github-hover-color);
}

header .links .ri-youtube-line:hover {
    color: red;
}

header .links .ri-twitter-line:hover {
    color: #1DA1F2;
}

header .links .ri-instagram-line:hover {
    color: #E1306C;
}

header .links .ri-spotify-line:hover {
    color: #1DB954;
}